@import '~src/variables';

.state-annule{
    background-color: $palette-color-two;
   }
   .state-option{
    background-color: $palette-color-three;
   }
   .state-confirme{
    background-color: $palette-color-four;
   }